/* homeLayoutStyles.css */
header {
    background-color: #4170f2; /* Fondo del encabezado */
    color: rgb(255, 255, 255); /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
  }
  
  h1 {
    font-size: 1rem; /* Tamaño grande del título */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; /* Ajusta el espaciado según sea necesario */
  }

  .esc {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #ffffff;
    animation: typing 0.8s steps(19) 1s 1 normal both, blink 1s steps(1) infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .brand {
    font-size: 1.6rem;
    font-weight: 900;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  
  .link {
    color: #ffffff; /* Color del texto */
  }

  .links {
    display: flex;
    
  }
  
  .links > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Añade este código al archivo CSS */
.links > a {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado del enlace */
    transition: all 0.3s; /* Transición suave */
  }
  
  .links > a:hover {
    font-weight: bold; /* Texto en negrita */
    animation: zoomEffect 0.3s forwards; /* Aplica el efecto de zoom al hacer hover */
  }
  
  @keyframes zoomEffect {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  