.limitador {
  max-width: 850px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
  border-left: 1px solid rgba(0, 0, 0, 0.3); /* Línea izquierda */
  border-right: 1px solid rgba(0, 0, 0, 0.3); /* Línea derecha */
  padding: 0 20px; /* Añadir un poco de espacio interno en los laterales */
}

.presentacioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .presentacioncontainer h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .presentacioncontainer h2 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .presentacioncontainer p {
    margin: 20px 0;
    text-align: justify;
    word-wrap: break-word; /* Dividir palabras largas */
  }
  
  .separador {
    width: 100%;
    height: 2px;
    background-color: #000; /* Cambia esto al color de línea que desees */
    margin: 20px 0;
  }
  
  .barra {
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #000;
      animation: fillAnimation 2s cubic-bezier(0.10, 0.1, 0.10, 1.0) 2s 1 normal both;
    /* view-timeline-name: --relleno ;
    view-timeline-axis: block;
    animation-timeline: --relleno;
    animation-name: fillAnimation;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both; */
   }

  @keyframes fillAnimation {
    from { width: 0%; }
    to { width: 100%; } /* Ajusta al valor que necesites */
}

